<div class = "footer">
  <div class="socialMedia">Connect with Destiny </div>

  <div class = "iconHolder">
    <button class = "fa fa-instagram" onclick= "window.location.href='https://www.instagram.com/DestinyDiess/'"></button>
    <button class = "fa fa-facebook" onclick= "window.location.href='https://www.facebook.com/DestinyDiessWriting/'"></button>
    <button class = "fa fa-pinterest" onclick= "window.location.href='https://www.pinterest.com/DestinyDiess/'"></button>
  </div>

  <div class = "copywrite"> © Destiny Diess 2018 </div>
</div>
