<div class="bar">
  <div>The Marking Trilogy</div>
</div>

<div class="bookHolder">
  <img src="/assets/theMarking.png" />
  <img src="/assets/theBetrayal.png" />
  <img src="/assets/theCollapse.png" />
</div>

<div class="info">
  In a world where humans and werewolves coexist, a weak yet determined human faces the challenge of two werewolf love interests while juggling the problems of a mysterious red mark that appeared on her chest and the kidnappings of small children from the local werewolf packs.
</div>
