.bookHolder img {
    width: 6rem;
    box-shadow: 3px 3px 8px #2d231f;
    margin-right: 4%;
}
.bookHolder img:last-child {
    margin-right: 0 !important;
}
.bookHolder {
    margin: auto;
    margin-top: 2rem;
    display: block;
    width: 21.6rem;
}

.info{
  margin: auto;
  font-size: 1.4rem;
  font-family: desText, desFont, sans-serif;
  max-width: 600px;
  margin-top: 2rem;
  text-align: center;
  line-height: 1.5rem;
}
