/* You can add global styles to this file, and also import other style files */

body{
  margin: 0;
  font-family: desfont, Gadget, sans-serif;
  color: #2a241e;
  background-color:#f6f5ec;
}
@font-face {
    font-family: desfont;
    src: url(/assets/aqua.ttf);
}
@font-face {
  font-family: desCursive;
  src: url(/assets/desCursive.ttf);
}
@font-face {
  font-family: desText;
  src: url(/assets/JosefinSans-Regular.ttf);
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.bar{
  font-family: desText, desFont, sans-serif;
  background-color: #2a241e;
  color: #f6f5ec;
  padding: 45px;
  font-size: 1.5rem;
}
