<div class="bar">
  <div>The Marking</div>
</div>
<div class="mailingList">
  <h2>Join my Mailing List</h2>
  <h3>for exclusive content and updates</h3>

<div id="mc_embed_signup">
          <form action="https://my.us18.list-manage.com/subscribe/post?u=4dfb6b5029626a45357df766e&amp;id=ee688f5ee0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
          </div>
          <div class="clear"><input type="submit" value="SIGN UP" name="subscribe" id="mc-embedded-subscribe" class="newsletterSignUp"></div>
        </form>
</div>


</div>

<div class="reviewBar">
  <div>Reviews</div>
</div>

<div class="reviews">
  <div class="twoReviews">
    <div class="review">
      <!--<div class="openPar">&ldquo;</div>-->
      <div class="firstReviewFix">
      <p>
        The Marking is a riveting story that
      </p>
      <p>
        constantly keeps you on your feet. The
      </p>
      <p>
        book is filled to the brim with action,
      </p>
      <p>
        romance, mystery, and drama.
      </p>
      <!--<div class="closePar">&rdquo;</div>-->
      <div class="creditted">-Fandoms4Life01</div>
    </div>
    </div>
    <div class="review">
      <!--<div class="openPar">&ldquo;</div>-->
      <p>
        The plot keeps me guessing, the
      </p>
      <p>
        characters make me feel so emotional
      </p>
      <p>
        because their struggles are SO
      </p>
      <p>
        relatable, and the cliffhangers
      </p>
      <p>
        keep me craving for more. Love it!
      </p>
      <!--<div class="closePar">&rdquo;</div>-->
      <div class="creditted">-AngelThePug</div>
    </div>
  </div>
  <div class="oneReview">
    <div class="review">
      <!--<div class="openPar">&ldquo;</div>-->
      <p>
        The Marking Trilogy is a must read.
      </p>
      <p>
        You will be hooked from page one
      </p>
      <!--<div class="closePar">&rdquo;</div>-->
      <div class="creditted">-Momma-Wolf18</div>
    </div>
  </div>
</div>
